sudo: required
dist: trusty
language: generic

compiler:
  - gcc

notifications:
  email:
    on_failure: never

env:
  matrix:
    - USE_DEB=true
      ROS_DISTRO="indigo"
      ROS_REPOSITORY_PATH=http://packages.ros.org/ros/ubuntu
      NOT_TEST_BUILD=true
      NOT_TEST_INSTALL=true
    - USE_DEB=true
      ROS_DISTRO="indigo"
      ROS_REPOSITORY_PATH=http://packages.ros.org/ros-shadow-fixed/ubuntu
      NOT_TEST_BUILD=true
      NOT_TEST_INSTALL=true

install:
  - git clone https://github.com/ros-industrial/industrial_ci.git .ci_config

script:
  - source .travis_ceres.sh
  - source .ci_config/travis.sh
