<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

     <xacro:include filename="$(find industrial_extrinsic_cal)/urdf/calibration_transform_macro.xacro"/>

     <xacro:property name="asus_length" value="0.220"/>
     <xacro:property name="asus_width" value="0.040"/>
     <xacro:property name="asus_height" value="0.040"/>

     <xacro:macro name="asus_sensor_definitions" params="prefix parent_link">

	<material name="${prefix}dark_silver">
		<color rgba="0.15 0.15 0.15 1"/>
	</material>



	<!-- sensor links -->

	<link name="${prefix}_link"/>

	<link name="${prefix}_frame">
		<visual>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<geometry>
				<box size="${asus_width} ${asus_length} ${asus_height}"/>
			</geometry>
			<material name="${prefix}dark_silver"/>
		</visual>
		<collision>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<geometry>
				<box size="${asus_width} ${asus_length} ${asus_height}"/>
			</geometry>
		</collision>
	</link>
		<link name="${prefix}_ir_link">
		<visual>
		<origin rpy="0 0 0" xyz="0 0 0"/>
		<geometry>
			<sphere radius="0.0005"/>
		</geometry>
		</visual>
	</link>
	<link name="${prefix}_rgb_link">
		<visual>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<geometry>
				<sphere radius="0.0005"/>
			</geometry>
		</visual>
	</link>
	<link name="${prefix}_rgb_frame"/>

	<link name="${prefix}_ir_optical_frame"/>
	<link name="${prefix}_rgb_optical_frame"/>
	<!-- end of sensor links -->


	<!-- attatchment joint to world or a robot -->
               <!-- Replaces the fixed joint destined for calibration by the calibration definition -->
	<xacro:calibration_definitions child_link="${prefix}_link" parent_link="${parent_link}" />

		<!-- sensor joints -->
	<joint name="${prefix}_frame_joint" type="fixed">
		<parent link="${prefix}_link"/>
		<child link="${prefix}_frame"/>
		<origin rpy="0 0 0" xyz="0 0 0"/>
	</joint>
	<joint name="${prefix}_ir_joint" type="fixed">
		<parent link="${prefix}_frame"/>
		<child link="${prefix}_ir_link"/>
		<origin rpy="0 0 0" xyz="0 0.05 0"/>
	</joint>
	<joint name="${prefix}_ir_optical_frame_joint" type="fixed">
		<parent link="${prefix}_ir_link"/>
		<child link="${prefix}_ir_optical_frame"/>
		<origin rpy="-1.57 0 -1.57" xyz="0 0 0"/>
	</joint>	
	<joint name="${prefix}_rgb_joint" type="fixed">
		<parent link="${prefix}_ir_link"/>
		<child link="${prefix}_rgb_link"/>
		<origin rpy="0 0 0" xyz="0 -0.03 0"/>
	</joint>
	<joint name="${prefix}_rgb_frame_joint" type="fixed">
		<parent link="${prefix}_rgb_optical_frame"/>
		<child link="${prefix}_rgb_frame"/>
		<origin rpy="0 0 0" xyz="0 0.0 0"/>
        </joint>
	<joint name="${prefix}_rgb_optical_frame_joint" type="fixed">
		<parent link="${prefix}_rgb_link"/>
		<child link="${prefix}_rgb_optical_frame"/>
		<origin rpy="-1.57 0 -1.57" xyz="0 0 0"/>
	</joint>	
	<!-- end of sensor joints -->	

     </xacro:macro>

</robot>


