<?xml version="1.0" ?>
<launch>

  <!-- 
  <arg name="camera_number" default="1"/>
  <arg name="camera_name" default="basler$(arg camera_number)"/>
  <arg name="image_topic" default="Basler$(arg camera_number)/image_rect"/>
  <arg name="output_file" default="$(find caljob_creator)/launch/B$(arg camera_number)_caljob.yaml"/>
  <arg name="capture_scene" default="false"/>
  <arg name="quit" default="false"/>
  <arg name="joints_topic" default="ur5/joint_states"/>
  <arg name="motion_type" default="joint"/>
  <arg name="to_frame" default="cal_grid"/>
  <arg name="from_frame" default="world"/>
  <arg name="image_width" default="1920" />
  <arg name="image_height" default="1080" />
  -->
  
  <!-- A scene has a lot of options, not all are supported by the creator. You may need to edit each scene.
       However, this should help get you started
       Here is what can be in a scene
       1. trigger (and all that goes with it)
          a. ROS_ROBOT_JOINT_VALUES_ACTION_TRIGGER and joint values vector
          b. ROS_ROBOT_POSE_ACTION_TRIGGER and pose
       2. observations ( a list of observations and all that goes with them)
          a. camera
          b. target
	  c. ROI roi_xmin,roi_xmax,roi_ymin,roi_ymax 
	  d. cost_type_string
  -->
  
  <arg name="camera_name" default="Basler21511083"/> <!-- name of camera for observation in this scene -->
  <arg name="target_name" default="target1"/>     <!-- name of target for observation in this scene -->
  <arg name="image_topic" default="/Basler21511083/image_raw"/> <!-- display camera image as aid setting up scenes -->
  <arg name="output_file" default="$(find caljob_creator)/launch/abb_basler_caljob.yaml"/> <!-- name of output file -->
  <arg name="capture_scene" default="false"/> <!-- setparam capture_scene true to add a new scene -->
  <arg name="quit" default="false"/> <!-- setparam quit true to save file -->
  <arg name="joints_topic" default="abb/joint_states"/> <!-- listens to this topic to gather robot joint values -->
  <arg name="motion_type" default="joint"/> <!-- joint or pose -->
  <arg name="to_frame" default="tool0"/>    <!-- a scene may need transform information --> 
  <arg name="from_frame" default="world"/>  <!-- provide a to and from frame for that listener -->
  <arg name="image_width" default="1080" />  <!-- used to set roi to max of image size -->
  <arg name="image_height" default="1920" /> <!-- used to set roi to max of image size -->
  <arg name="cost_type" default="LinkTargetCameraReprjErrorPK" /> <!-- sets the cost type for the observation -->

  <node pkg="caljob_creator" type="caljob_creator_node" name="caljob_creator">
    <param name="camera_name" value="$(arg camera_name)"/>
    <param name="image_topic" value="$(arg image_topic)"/>
    <param name="output_file" value="$(arg output_file)"/>
    <param name="capture_scene" value="$(arg capture_scene)"/>
    <param name="quit" value="$(arg quit)"/>
    <param name="joints_topic" value="$(arg joints_topic)"/>
    <param name="motion_type" value="$(arg motion_type)"/>
    <param name="to_frame" value="$(arg to_frame)"/>
    <param name="from_frame" value="$(arg from_frame)"/>
    <param name="image_width" value="$(arg image_width)" />
    <param name="image_height" value="$(arg image_height)" />
    <param name="cost_type" value="$(arg cost_type)" />
  </node>

</launch>
