<?xml version="1.0" ?>
<launch>
  
  <arg name="input_file"  default="$(find caljob_creator)/launch/abb_jointtraj.yaml"/> <!-- name of input file -->
  <arg name="output_file" default="$(find caljob_creator)/launch/abb_jointtraj1.yaml"/> <!-- name of output file -->
  <arg name="capture_scene" default="false"/> <!-- setparam capture_scene true to add a new scene -->
  <arg name="quit" default="false"/> <!-- setparam quit true to save file -->
  <arg name="execute" default="false"/> <!-- listens to this topic to gather robot joint values -->
  <arg name="joints_topic" default="abb/joint_states"/> <!-- listens to this topic to gather robot joint values -->
  <arg name="motion_server" default="rosRobotSceneTrigger_joint_values"/>

  <node pkg="caljob_creator" type="joint_traj_node" name="joint_traj">
    <param name="output_file" value="$(arg output_file)"/>
    <param name="input_file" value="$(arg input_file)"/>
    <param name="capture_scene" value="$(arg capture_scene)"/>
    <param name="quit" value="$(arg quit)"/>
    <param name="execute" value="$(arg execute)"/>
    <param name="joints_topic" value="$(arg joints_topic)"/>
    <param name="motion_server" value="$(arg motion_server)"/>
  </node>

</launch>
