<launch>

  <arg name="camera_number" default="21511083"/>
  <arg name="camera_file" value="ical_srv_camera.yaml" />
  <arg name="target_file" value="ical_srv_target.yaml" />
  <arg name="launch_camera" default="false"/>
  
  <include if="$(arg launch_camera)" file="$(find industrial_extrinsic_cal)/launch/basler_camera.launch" >
     <param name="camera_number" value="$(arg camera_number)"/>
     <param name="view_cameras" value="true"/>
  </include>

  <node pkg="intrinsic_cal" type="ical_srv" name="ical_srv" output="screen" >
          <param name="yaml_file_path" value="$(find intrinsic_cal)/yaml/" />
          <param name="camera_file" value="$(arg camera_file)" />
          <param name="target_file" value="$(arg target_file)" />
  </node>

  <node  if="$(arg launch_camera)" name="observation_view" pkg="image_view" type="image_view" >
      <remap to="/Basler$(arg camera_number)/observer_results_image" from="image"/>
  </node>


<!--
  <node pkg="tf" type="static_transform_publisher" name="target_pose" args="1 .2 0 0 3.14 0 1 basler1_optical_frame target1_frame 100" />
-->

</launch>