<launch>
  <arg name="image_directory" default="/home/clewis/astra_ical_data/ir"/>
 
  <include  file="$(find astra_launch)/launch/astra.launch" />

  <node pkg="intrinsic_cal" type="robocyl_ical_8D" name="robocyl_intrinsic_calibration" output="screen" >
          <param name="target_rows" value="20" />
          <param name="target_cols" value="30" />
          <param name="target_circle_dia" value="0.0015" />
          <param name="target_spacing" value="0.0146" />
          <param name="camera_name" value="camera/ir" />
          <param name="image_topic" value="camera/ir/image" />
          <param name="image_height" value="480" />
          <param name="image_width" value="640" />
          <param name="num_camera_locations" value="16" />
          <param name="camera_spacing" value=".030" />
          <param name="rail_start_position" value="0.0" />
          <param name="move_client" value="/move_meters"/>
          <param name="power_client" value="/power_io"/>
          <param name="home_client" value="/home"/>
          <param name="image_directory" value="$(arg image_directory)"/>
          <param name="save_data" value="true"/>
	  <param name="use_circle_detector" value="false"/>
  </node>

  <node name="observation_view" pkg="image_view" type="image_view" >
      <remap to="camera/ir/observer_results_image" from="image"/>
  </node>

  <node name="raw_view" pkg="image_view" type="image_view" >
      <remap to="camera/ir/image" from="image"/>
  </node>

</launch>
