<launch>

  <arg name="camera_number" default="21511094"/>
  <arg name="view_cameras" default="true"/>
  <arg name="acquisition_rate" default="2.0"/>
  <arg name="node_name" default="pylon_node"/>
  <arg name="config_file" default="$(find industrial_extrinsic_cal)/config/ACA1920_25gc.yaml" />

  <node pkg="pylon_camera" type="pylon_camera_node" name="Basler$(arg camera_number)" output="screen">
        <param name="camera_frame" value="$(arg node_name)" type="string" />
        <rosparam command="load" file="$(arg config_file)" />
  </node>

  <node pkg="nodelet" type="nodelet" name="image_proc_nodelet$(arg camera_number)"  args="manager"/>
  <node pkg="nodelet" type="nodelet" name="rectify$(arg camera_number)" args="load image_proc/rectify image_proc_nodelet$(arg camera_number)">
    <remap from="camera_info" to="Basler$(arg camera_number)/camera_info"/>
    <remap from="image_mono" to="Basler$(arg camera_number)/image_raw"/>
    <remap from="image_rect" to="Basler$(arg camera_number)/image_rect"/>
  </node>

  <node if="$(arg view_cameras)" pkg="image_view" type="image_view" name="Basler$(arg camera_number)_view" >
   <remap from="image" to="Basler$(arg camera_number)/image_rect"/>
  </node>

</launch>