<?xml version="1.0" ?>
<launch>

<node name="rviz" pkg="rviz" type="rviz" args="-d $(find industrial_extrinsic_cal)/config/industrial_extrinsic_calibration.rviz" required="true" />

<node pkg="tf" type="static_transform_publisher" name="world_frame" args="0 0 0 0 0 0 world_frame target_frame 100" />
<node pkg="tf" type="static_transform_publisher" name="optical_frame" args="0 0 0 0 0 0 camera_frame optical_frame 100" />
<node pkg="tf" type="static_transform_publisher" name="source_frame" args="0 0 0 0 0 0 camera_frame source_frame 100" />

</launch>
