<?xml version="1.0" ?>
<launch>
  <node pkg="industrial_extrinsic_cal" type="service_node" name="calibration_service_node" output="screen" >
    <rosparam>
      camera_file: "test1_camera_def.yaml"
      target_file: "circlegrid5x7_target_def.yaml"
      cal_job_file: "test1_caljob_def.yaml"
    </rosparam>
  </node>
</launch>
