<?xml version="1.0" ?>
<launch>
  <node pkg="tf" type="static_transform_publisher" name="camera_poses_that_see_target" args="0 0 1.25 0 0 0 /world /target2 25"/>
  <node pkg="tf" type="static_transform_publisher" name="all_camera_poses" args="0 0 1 0 0 0 /world /target 25"/>  
  <node pkg="industrial_extrinsic_cal" type="position_validation" name="position_validation" output="screen">
    <rosparam>
      camera_file: "test2_camera_def.yaml"
      target_file: "test2_target_def.yaml"
      cal_job_file: "test2_caljob_def.yaml"
    </rosparam>
  </node>
</launch>
