<?xml version="1.0" ?>
<launch>
  <arg name="arm_prefix" default=""/>
  <arg name="camera_name" default="camera"/>    
  <arg name="device_id" default="#1" />
  <arg name="publish_tf" default="true" />

  <include file="$(find openni_launch)/launch/openni.launch">
    <arg name="publish_tf" default="$(arg publish_tf)" />
    <arg name="camera" default="$(arg camera_name)" />
    <!--arg name="launch_prefix" default="" /-->
    <arg name="rgb_frame_id" default="/$(arg arm_prefix)kinect_rgb_optical_frame"/>    
    <arg name="depth_frame_id" default="/$(arg arm_prefix)kinect_ir_optical_frame"/>
    <arg name="rgb_camera_info_url" default=""/>
    <arg name="depth_camera_info_url" default="" />
    <!-- device_id can have the following formats:
 	"B00367707227042B": Use device with given serial number
 	"#1"              : Use first device found
 	"2@3"             : Use device on USB bus 2, address 3
 	"2@0"             : Use first device found on USB bus 2
    -->
    <arg name="device_id" default="$(arg device_id)" />
  </include>
</launch>
