<?xml version="1.0" ?>
<launch>

  <!-- launch Asus sensors -->
  <!-- launch laser in order to get target's location -->
  <!-- launch panel joint state which takes raw laser message to create a panel joint state -->
  <!-- launch robot state publisher which takes panel joint state to publish transform for panel -->
  <!-- launch rviz for display -->
  <arg name="show_jsp_control" default="false"/>
  <arg name="disable_rviz" default="false" />

  <!-- This include file does all of the above -->
  <include file="$(find data_acquisition_launch)/launch/data_acquisition_live.launch" >
        <arg name="show_jsp_control" value="$(arg show_jsp_control)" />
        <arg name="disable_rviz" value="$(arg disable_rviz)" />
  </include>

  <!-- Launch the extrinsic calibration service -->
  <node pkg="industrial_extrinsic_cal" type="service_node" name="calibration_service_node" output="screen" >
    <rosparam>
      camera_file: "spirit_cameras.yaml"
      target_file: "spirit_targets.yaml"
      cal_job_file: "spirit_caljob.yaml"
      store_results_package_name: "data_acquisition_launch"
      store_results_file_name: "spriti_asus_transforms.launch"
    </rosparam>
  </node>


</launch>
