services:
  industrial_calibration:
    build:
      context: ..
      dockerfile: docker/Dockerfile
      args:
        TAG: jammy
    environment:
      DISPLAY: $DISPLAY
      XAUTHORITY: $XAUTHORITY
      # NVIDIA_DRIVER_CAPABILITIES: all
      ROS_LOG_DIR: /tmp
    container_name: industrial_calibration
    image: ghcr.io/ros-industrial/industrial_calibration:jammy
    stdin_open: true
    tty: true
    network_mode: host
    privileged: false
    user: ${CURRENT_UID}  # CURRENT_UID=$(id -u):$(id -g)
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - /etc/hosts:/etc/hosts
      - /etc/passwd:/etc/passwd:ro
      - /etc/group:/etc/group:ro

    # entrypoint: ./extrinsic_calibration_gui.sh
    # entrypoint: ./intrinsic_calibration_gui.sh

    # deploy:
    #   resources:
    #     reservations:
    #       devices:
    #         - driver: nvidia
    #           count: 1
    #           capabilities: [gpu]
