<?xml version="1.0" ?>
<launch>
       <arg name="view_cameras" default="false"/>
       <arg name="camera_number" default="1"/>
       <arg name="basler_sn" default="21511083"/>
       <arg name="focal_length" default="2758.0"/>

     <node pkg="target_finder" type="target_locator_srv" name="target_locator" output="screen" >
          <param name="image_topic" value="Basler$(arg camera_number)/image_rect" />
          <param name="camera_name" value="Basler$(arg camera_number)" />
          <param name="target_type" value="2" />
          <param name="target_rows" value="16" />
          <param name="target_cols" value="29" />
          <param name="target_circle_dia" value="0.0125" />
          <param name="target_spacing" value="0.025393" />
          <param name="use_circle_detector" value="false"/>
     </node>
 
     <node pkg="target_finder" type="call_service" name="call_service" output="screen" >
           <param name="roi_width" value="1920"/>
           <param name="roi_height" value="1080"/>
           <param name="optical_frame" value="basler$(arg camera_number)_optical_frame"/>
     </node>
 
    <include  file="$(find ind_cal_multi_camera)/launch/basler_camera.launch" >
         <arg name="camera_name" value="Basler1"/>
         <arg name="camera_aravis_package" value="true"/>
         <arg name="basler_sn" value="$(arg basler_sn)"/>
         <arg name="exposure_auto" value="auto_once"/>
         <arg name="exposure_time" value="2000"/>
         <arg name="gain_auto" value="Once" />
         <arg name="gain" value="0" />
         <arg name="frame_rate" value="20"/>
         <arg name="trigger_mode" value="Off"/>
         <arg name="trigger_source" value="Line1"/>
         <arg name="pixel_format" value="Mono8"/>
        <arg name="url" value="file://$(find ind_cal_multi_camera)/camera_info/Basler$(arg basler_sn).yaml"/>
     </include>

     <node pkg="nodelet" type="nodelet" name="image_proc_nodelet$(arg camera_number)"  args="manager"/>
     <node pkg="nodelet" type="nodelet" name="rectify$(arg camera_number)" args="load image_proc/rectify image_proc_nodelet$(arg camera_number)">
        <remap from="camera_info" to="Basler$(arg camera_number)/camera_info"/>
        <remap from="image_mono" to="Basler$(arg camera_number)/image_raw"/>
        <remap from="image_rect" to="Basler$(arg camera_number)/image_rect"/>
     </node>

     <node pkg="image_view" type="image_view" name="debug_view" >
          <remap from="image" to="observer_raw_image"/>
     </node>

     <node pkg="tf" type="static_transform_publisher" name="target_frame" args="0.1 0.0 1.0 0.0 1.5708 0.0 world basler$(arg camera_number)_optical_frame 100" />
     <!--node pkg="tf" type="static_transform_publisher" name="target_frame" args="0.1 0.0 1.0 0.0 1.5708 0.0 world asus_rgb_optical_frame 100" /-->

     <node name="rviz" pkg="rviz" type="rviz" args="-d $(find target_finder)/config/target_finder.rviz" required="true" />

</launch>
