<?xml version="1.0" ?>
<launch>

  <arg name="file" default="camera" />

  
  <include file="$(find openni2_launch)/launch/openni2.launch" >
    <arg name="publish_tf" value="true" />
    <arg name="camera" value="camera" />
    <arg name="depth_registration" default="true" />
    <!--arg name="device_id" value="3@1"/-->
    <arg name="rgb_camera_info_url"   value="file://$(find rgbd_depth_correction)/yaml/$(arg file)_rgb.yaml" />
    <arg name="depth_camera_info_url" value="file://$(find rgbd_depth_correction)/yaml/$(arg file)_ir.yaml" />
  </include>


  <node pkg="target_finder" type="target_locator_srv" name="target_locator_service" output="screen" >

    <!-- Be sure to use RGB projection matrix parameters here after performing intrinsic calibration -->
    <rosparam>
      image_topic: "/camera/rgb/image_rect_color"
      camera_name: "/camera/rgb"
      target_type: 2
      target_rows: 5
      target_cols: 5
      target_circle_dia: 0.05
      target_spacing: 0.07
    </rosparam>
  </node>

  <node pkg="rgbd_depth_correction" type="depth_calibration" name="depth_cal_node" output="screen" >
    <remap from="depth_points" to="/camera/depth_registered/points" />
    <remap from="image" to="/camera/rgb/image_rect_color" />

    <param name="filepath" value="$(find rgbd_depth_correction)/yaml" />
    <param name="filename" value="$(arg file)" />

    <rosparam>
      target_pos_x: 0.0
      target_pos_y: 0.0
      target_pos_z: 0.6
      target_orn_x: 1.0
      target_orn_y: 0.0
      target_orn_z: 0.0
      target_orn_w: 0.0

    </rosparam>
  </node>

  <node name="image_view" pkg="image_view" type="image_view">
    <remap from="image" to="/camera/rgb/image_rect_color" />
  </node>
</launch>
